body {
    padding: 10px;
    background-color: aqua;
}

section {
    display: flex;
    flex-direction: row;
}

img {
    width: 50px;
}

#cart {
    background-color: salmon;
}

#cart, #items {
    width: 50vw
}